.nav-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: var(--navbar-height);
  align-self: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 1px var(--goldText);
  z-index: 99;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 15%;
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  color: var(--foreground);
}

.nav-buttons Button:hover {
  box-shadow: 0px 0px 2px 2px var(--goldText);
  scale: 1.1;
}
