/* Service Section */
.service-container {
  width: 100%;
  margin: 8rem auto;
  padding: 2rem 1rem;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-text {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #f5f5f5;
  max-width: 800px;
  margin: 2rem auto;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
  border-left: 3px solid var(--gold);
  padding-left: 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* subtle background color for the text */
  border-radius: 5px;
  transition: all 0.3s ease;
}

.service-text span {
  font-weight: bold;
  color: var(--gold);
}

.service-text:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.book-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.book-button {
  background-color: var(--gold);
  color: #242323;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.book-button:hover {
  background-color: #f5bb59;
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media (max-width: 1024px) {
  .service-container {
    margin-top: 6rem;
  }

  .service-text {
    font-size: 1.2rem;
    padding-left: 1.5rem;
    border-left: 2px solid var(--gold);
  }

  .book-button {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 768px) {
  .service-text {
    font-size: 1.1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--gold);
  }

  .book-button {
    font-size: 1rem;
    padding: 0.8rem 1.8rem;
  }
}

@media (max-width: 480px) {
  .service-text {
    font-size: 1rem;
    padding-left: 1rem;
    text-align: left;
    border-left: none;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--gold); /* add a bottom border for mobile */
  }

  .book-button {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.1rem;
  }
}
