.about-container {
  width: 100%;
  margin: 8rem auto;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  gap: 30px;
  margin: 0 auto;
}

.about-button {
  box-shadow: 1px 1px 2px 2px white;
  border-radius: 10px;
  margin-bottom: 2rem;
  font-size: 20px;
  padding: 1.5rem;
  background-color: var(--goldText);
  color: var(--background);
  margin-left: 5rem;
}

.about-button:hover {
  background-color: var(--goldText);
  scale: 1.05;
}
