.pc-container {
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--gray);
  border: 2px solid var(--gold);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  position: relative;
}

.pc-container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(
    145deg,
    rgba(255, 203, 113, 0.2),
    rgba(255, 203, 113, 0.5)
  );
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pc-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 25px rgba(255, 203, 113, 0.5);
}

.pc-container:hover::before {
  opacity: 1;
}

.pc-title {
  font-size: 1.6rem;
  color: var(--gold);
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pc-duration {
  font-size: 1rem;
  color: var(--foreground);
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.pc-price {
  font-size: 2.5rem;
  color: var(--gold);
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.pc-description {
  font-size: 1.1rem;
  color: var(--foreground);
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.6;
}

.pc-button {
  padding: 0.8rem 2rem;
  background-color: var(--gold);
  color: #1b1b1b;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

.pc-button:hover {
  background-color: #d4a13b;
  transform: translateY(-3px);
}
